.AppFora{
        //border: 3px solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
}

.App{
    //border: 3px solid greenyellow;
    width: 500px;
    height: 614px;
    background-image: url("../imagens/fundo2.png");
   
    .caixaDupla{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }
    
}