@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.titulo {
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.input{
    text-align: center
}
.pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}















// <style>
// @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
// </style>